<%- include('header'); -%>

    <div class="twelve wide column">
        <div class="ui container segment">
            <h1>错误 - <%= title %>
            </h1>
            CODE: <%= err.code %><br />
                MESSAGE: <%= err.message %>
        </div>
    </div>
    <div class="four wide column">
    </div>

<%- include('footer'); -%>